// Variabel
$myColor : rgb(255, 0, 187);
$mySize : 2em;
$myBackground : rgb(67, 250, 0) ;
$primaryColor : rgb(0, 13, 255);

.main {
    background-color: $myBackground;

    .main-heading{
        font-size: $mySize;
    }

    .main-params {
        font-size: 1em;
    }
}

.main, footer {
    h1, p {
        letter-spacing: 1px;
    }
}

// & 
// parentt  selector

.main {
    .container & {
        background-color: $myColor;
    }

    .main-heading {
        font-size: 2 em;
    }
}


.main {
    & &-heading {
        font-size: 2em;
    }

    & &-params {
        color: aqua;
    }

}



.footer {
    & &-heading {
        font-size: 2em;
    }

    & &-params {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $primaryColor;
    }
}