.main {
    background-color: aqua;

    .main-heading{
        font-size: 2em;
    }

    .main-params {
        font-size: 1em;
    }
}

.main, footer {
    h1, p {
        letter-spacing: 1px;
    }
}

// & 
// parentt  selector

.main {
    .container & {
        background-color: rgb(255, 0, 153);
    }

    .main-heading {
        font-size: 2 em;
    }
}


.main {
    & &-heading {
        font-size: 2em;
    }

    & &-params {
        color: aqua;
    }

}



.footer {
    & &-heading {
        font-size: 2em;
    }

    & &-params {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aqua;
    }
}